body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container1{
    display: flex;
    height: 100vh;
    width: 100vw;
}

img{
    width: 100%;
    height: 100vh;
}


#image{
    flex: 1;
}

#signup{
    flex: 2;    
    background-color:aliceblue;
}

p{
    font-weight: bold;
    font-size: 1.25vw;
    width: 60vw;
    margin: 6vh 0;
    line-height: 1.6vw;
    margin-left: 3vw;
}

.form{
    background-color: white;
    padding-left: 3vw;
    padding-bottom: 1.3vw;
    padding-top: 0.1vw;
    color:darkslategray;
    box-shadow: 5px 3px grey;
}

.input{
    display: flex;
}

.col1, .col2{
    width: 50%;
}

input{
    margin-bottom: 1vw;
    font-size: 1vw;
    padding: 0.2vw;
    border-radius: 0.5vw;
    border: 1px solid grey;
    outline: none;
}

label{
    font-size: 0.8vw;
}

input:focus{
    border: 2px solid green;
}

h2{
    margin-bottom: 2vw;
}

button{
    margin: 2vw 3vw;
    background-color: green;
    font-size: 1vw;
    font-weight: bold;
    color: white;
    padding: 1vw 3vw;
    border-radius: 1vw;
}

button:hover{
    cursor: pointer;
    font-size: 1.2vw;
    box-shadow: 3px 3px black;
}